
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

}

ul li {
    background-color: #f1f1f1;
    position: relative;
}

li a{
    color: #515151;
    text-decoration: none;
    padding: 1em 2em;
    text-transform: uppercase;
    display: block;
    border-bottom: 5px solid #f1f1f1;
}

li a.active {
    background-color: #44b5b5;
}

li a:hover {
    background-color: #515151;
    color: #fff;
}

.submenu {
    flex-flow: column;
    position: absolute;
    display: none;
}

nav li:hover > a {
    background-color: #515151;
    color: white;
}

nav li:hover ul {
    display: block;
    min-width: 150px;
}

