
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

}

ul li {
    background-color: #f1f1f1
}

li a{
    color: #515151;
    text-decoration: none;
    padding: 1em 2em;
    text-transform: uppercase;
    display: block;
    border-bottom: 5px solid #f1f1f1;
}

li a.active {
    background-color: #44b5b5;
}

li a:hover {
    background-color: #515151;
    color: #fff;
    transition: background-color 0.3s;
    border-bottom: 5px solid #44b5b5;
}

